.product-main-search {
  margin-top: -32px;
  margin-bottom: 36px;

  h4 {
    font-size: 16px;
    float: left;
    margin-left: 3%;
    margin-top: -24px;
    font-style: italic;
    text-shadow: 0px 2px 6px #77325a;
  }

  .main-search {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 32px;
    float: right;
    margin-right: 10%;
    // font-size: 30px;
    margin-top: 28px;
    // margin-bottom: 15px;

    input {
      margin-right: 3px;
      font-size: 16px;
    }

    button {
      padding: 8px;

      background: -webkit-linear-gradient(left, #7579ff, #b224ef);

      &:hover {
        background: linear-gradient(135deg, #b224ef 0%, #7579ff 100%);
      }

      i {
        font-size: 14px;
        position: relative;
        bottom: 6px;
      }
    }
  }

  .main-filter {
    display: flex;
    flex-direction: row;
    width: 25%;
    float: right;
    margin-right: 10%;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 12px;
    position: relative;
    top: 24px;

    .select-product {
      border: 1px solid black;
      height: 24px;
      // width: 52px;

      // &:hover {
      //   width: 60px;
      // }
    }

    .filter-product {
      margin-right: 10px;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
